%font-roboto-regular {
  font-family: Roboto, sans-serif;
  font-weight: normal;
}

%font-roboto-medium {
  font-family: Roboto, sans-serif;
  font-weight: 500;
}

%font-open-sans-bold {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

%font-open-sans-semi-bold {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

%font-quicksand-regular {
  font-family: 'Quicksand', sans-serif;
  font-weight: normal;
}

%font-quicksand-light {
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
}

%font-quicksand-medium {
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
}

%font-quicksand-bold{
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
}

%background-image-bg{
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}