$main-font-color: #8D96BD;
$accent-color: #5E81FE;
$text-color: #697CA6;
$sub_menu_bg: #D2E1FF;
$btn-text-color: #3A79FF;
$text-color_subtitle: #3D4F9F;
$text-color-stroke: #DFE2EF;
$slider-color: #CDD3E4;
$slider-color-cheked: #5282FF;
$background-color: #F5F8FF;
$background-color-btn: #4C85FF;
$border-color-btn: #D1D1E4;
$second-text-color: #D43F3F;
$second-bacground-color: #FFD7D7;
$stroke-color: #6888FF;

$svg-hover-color: #5982E7;
$svg-color: #B6BAC7;

$hover-color: #344FB5; /* add colors*/
$active-color: #242C50; /* add colors*/

$horizontal_offset: 15px;
$content-width: 1210px + ($horizontal_offset * 2);

$transition: .3s;

$breakpoint_lg: 1024px;
$breakpoint_md: 767px;
$breakpoint_sm: 576px;
$breakpoint_xs: 480px;

$font-size_2xl: 48px;
$font-size_xl: 36px;
$font-size_lg: 24px;
$font-size_md: 18px;
$font-size_base: 15px;
$font-size_sm: 14px;
$font-size_xs: 13px;
$font-size_2xs: 12px;
$font-size_3xs: 11px;
$font-size_extra-small: 10px;

$header-height: 85px;
